.additional-info {
    float: left;
    width: 100%;
    position: relative;
}

.left-info,
.right-info {
    float: left;
    width: 50%;
    text-align: center;
    margin-top: 20px;
    padding: 15px;
}

.left-info {
    border-right: 1px solid #A0A0A0;
}

.left-info h5,
.right-info h5,
.recap h4 {
    text-transform: uppercase;
}

.recap h4 {
    margin-bottom: 25px;
}

.recap h4::after {
    background-color: #000;
    position: absolute;
    left: 47%;
    top: 45px;
    height: 3px;
    width: 55px;
    content: "";
    border-radius: 10px;
}

.recap ul {
    margin-left: auto;
    margin-right: auto;
    display: block;
    float: none;
    list-style: none;
}

.recap ul li {
    float: left;
    width: 100%;
    text-align: center;
}