.infos-pers {
    border: 1.5px solid #A0A0A0;
    border-radius: 5px;
    width: 100%;
    float: left;
    padding: 15px;
}

.infos-titre {
    text-align: center;
    float: left;
    width: 100%;
    position: relative;
}

.infos-titre h4 {
    text-transform: uppercase;
    color: #343a40;
}

.infos-titre h4::after {
    position: absolute;
    left: 47%;
    top: 45px;
    height: 3px;
    width: 55px;
    content: "";
    border-radius: 10px;
    background-color: #343a40;
}

.infos-content {
    width: 100%;
    float: left;
    margin-top: 15px;
}

.infos-content span {
    float: left;
    width: 100%;
    text-align: center;
}

.infos-content table {
    text-align: center;
}

.recap-form {
    margin: 0 !important;
}

.delete-item {
    width: auto !important;
    margin-left: auto;
    margin-right: auto;
    display: block;
    float: none !important;
}

.recap .prod-sel-content {
    margin: 0 !important;
}


/* Créer commande */

.recherche {
    margin-top: 25px;
    float: left;
    width: 100%;
}

.recherche form input {
    width: 100%;
    float: left;
}

.btn-success,
.btn-danger {
    width: 100%;
    float: left;
}

.form-order {
    float: left;
    width: 100%;
    margin-top: 20px;
}

.prod-sel-content {
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 20px;
}

.prod-sel-content form {
    margin-top: 20px;
}

#quant {
    display: block
}

.mas {
    margin-left: 10px;
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
}

.menos {
    margin-right: 10px;
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
}

#quantiacht {
    margin-right: 5px;
    margin-left: 5px;
}

.iconoInput {
    color: #e8e8e8;
    font-size: 15px;
    position: absolute;
    left: 25px;
    padding-top: 10px;
}